@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Holiday Generator</h1>
    <p>Destination: @ViewBag.destination</p>
    <p>Month: @ViewBag.month</p>
    <p>Period (days) to stay: @ViewBag.days</p>
</div>
